* {
box-sizing: border-box;
}


body {

margin:0;
font-family:Arial,sans-serif;
background:#f8fafc;
color:#1e293b;

}



nav {

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:white;

}



nav a {

margin-left:20px;
text-decoration:none;
color:#334155;

}



header {

text-align:center;
padding:70px 20px;
background:#1e293b;
color:white;

}



header p {

max-width:600px;
margin:auto;
color:#cbd5e1;

}



section {

max-width:900px;
margin:40px auto;
padding:20px;

}



h2 {

border-bottom:2px solid #38bdf8;
padding-bottom:8px;

}



.skills {

display:flex;
gap:15px;
flex-wrap:wrap;

}



.skills span {

background:#1e293b;
color:white;
padding:10px 15px;
border-radius:8px;

}



.project-card {

background:white;
padding:20px;
margin:20px 0;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



.project-card a {

display:inline-block;
margin-top:10px;
background:#38bdf8;
color:white;
padding:10px 15px;
border-radius:8px;
text-decoration:none;

}



.project-card a:hover {

opacity:0.8;

}



footer {

text-align:center;
padding:20px;
background:#1e293b;
color:white;

}



@media(max-width:700px){

nav{

flex-direction:column;

}

nav a{

display:block;
margin:10px;

}

}
