:root {
  --bg: #0f172a;
  --card: #1e293b;
  --primary: #38bdf8;
  --danger: #ef4444;
  --text: #ffffff;
  --muted: #cbd5e1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
}

h2 {
  margin-bottom: 5px;
}

p {
  color: var(--muted);
  font-size: 14px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  background: var(--primary);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #0f172a;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background: var(--danger);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  }
